@model ListApplicationsVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="modal" id="infoModal">     
    <div class="modal-dialog">        
            <div class="modal-content">           
                <div class="modal-header">                  
                    <h2 class="modal-title">İş Başvuruları Bilgi Ekranı</h2>        
                </div>          
            <div class="modal-body">            
                @Html.DisplayFor(model => model.OutputMessage)       
            </div>        
            </div>      
    </div>   
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Özgeçmiş Listesi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            İsim
                        </th>
                        <th>
                            Soyisim
                        </th>
                        <th>
                            Başvurulan Pozisyon
                        </th>
                        <th>
                            Dosya Adı
                        </th>
                        <th>
                            Başvuru Durumu
                        </th>
                        <th>
                            Yorumlar
                        </th>
                        <th class="col-md-2">
                            İşlemler
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Applications != null)
                    {
                        @foreach (var item in Model.Applications)
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Id)
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobPosition)
                            </td>
                            <td>
                                <a href="@item.FilePath"> @Html.DisplayFor(modelItem => item.FileName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td class="d-flex justify-content-center">
                                <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-fluid m-1">Sil</a>
                                <a asp-controller="Admin" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-fluid m-1">Detayları Görüntüle</a>
                            </td>

                        </tr>
                    }
                    }
                    
                </tbody>

                <tfoot>
                </tfoot>

            </table>
        </div>
    </div>
</div>

@section Scripts {

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

         <script type="text/javascript">

        $(function() {

            $(window).on('load', function() {
                $('#infoModal').modal('show');        
            });

        });
    </script>

}